
.networkTitle{
    font-size: 100px;
    color: white;
    font-weight: 700;
}
.networkParagraphContainer{
    /* background-image: url('/public/image/orangeeffect\ \(6\).jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    padding-top: 250px;
}
.networkRow{
    justify-content: space-between;
    display: flex;
    width: 70%;
    margin: 0px auto;
}
.networkparagraph{
    direction: rtl;
    height: 600px;
    padding-right: 50px;
}
.networkparagraph >h1{
    margin: 0px -20px 50px 0px;
    font-size: 60px;

}
.networkparagraph >ol >li{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.758);
    margin-right: 20px;
}
.networkImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 0px 4px 12px;
}
.networkAccordingContainer{
    padding: 200px 0px 150px 0px;
    background-image: url('/public//image/background\ \(4\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.explanenetworkColsulting{
    background-blend-mode: color-dodge;
    background-color: #0055ff12;
    background-image: url('/public/image/wave\ \(2\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    display: grid;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.imageNetworkConsulting{
    width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 0px 4px 12px;
}
.whatsNetworkConsulting{
    width: 80%;
    padding: 40px;
    color: black;
    background-color: #ffffff20;
    backdrop-filter: blur(2px);
    border-radius: 15px ;
    border: 2px solid #888888;
    margin: 0px auto;
    text-align: end;
}
.whatsNetworkConsulting >h6{
    max-width: 100%;
    padding: 20px;
    font-size: 20px;
}
.whatsNetworkConsulting >h1{
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 50px;
}
.rowExplanenetworkColsulting{
    background-color: rgba(255, 255, 255, 0.299);
    width: 100%;
    display: flex;
    justify-content: center;
}