* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.serviveContainer {
    background-color: #f9f9fa;
    padding: 150px 0px;
    text-align: center;
}

.pTag {
    display: block;
    text-align: center;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: rgba(255, 136, 0, 0.532);
    margin-bottom: 50px;
}

.serviveContainer>p {
    margin-bottom: 100px;
    font-size: 23px;
    font-weight: 600;
    direction: rtl;
    color: #393939;
}

/*  ////////  span */
#root>div.serviveContainer.container-fluid>p>span {
    font-size: 25px;
    color: rgb(255, 136, 0);
}

.srviceContant {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* ///////////   left & right */
.leftRow,
.rightRow {
    display: grid;
    min-width: 350px;
    width: 530px;
    padding: 0px;
}

.rightRow {
    direction: rtl;
}

.leftCol,
.rightCol {
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #b5b5b5;
    border-radius: 20px;
    height: 100px;
    width: 400px;
    display: grid;
    align-items: center;
    margin: 15px 0px;
    box-shadow: rgba(50, 50, 93, 0.071) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.leftImageCol,
.rightImageCol {
    display: flex;
    justify-content: start;
}

.leftImageCol>img {
    width: 70px;
    height: 70px;
}
.rightImageCol>img {
    width: 70px;
    height: 70px;
}
.leftTitle,
.rightTitle {
    direction: rtl;
    display: grid;
    padding-right: 20px;
    font-size: 10px ;
}
.leftTitle >a >h2{
    font-size: 30px;
}
.rightTitle >a >h2{
    font-size: 30px;
}
.rightTitle {
    text-align: end;
}

.leftTitle {
    text-align: start;
}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    text-decoration: none;
    color: rgb(58, 58, 58);
}

.leftTitle>p {
    font-size: 15px;
    color: rgb(116, 116, 116);
    font-weight: 500;
}
.rightTitle>p {
    font-size: 15px;
    color: rgb(116, 116, 116);
    font-weight: 500;
}


.middleRow {
    display: grid;
    align-items: center;
}

/* aboutContainer */
.aboutContainer {
    padding: 0px;
    padding: 150px 0px;
}

.aboutRow {
    display: flex;
    direction: rtl;
    max-width: 100%;
    min-height: 400px;
}

/* history */
.historyRow {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}

.histoyCol {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dashed #7a7a7a;
    width: 250px;
}

/* lasthistory col */
#root>div.aboutContainer.container>div>div.history.col-3>div>div:nth-child(3) {
    border-bottom: 2px dashed #7a7a7a00;
}

.histoyCol>h6 {
    font-size: 23px;
    color: rgba(39, 39, 39, 0.945);
}

/* image */
.imgCol {
    text-align: center;
}

.imgCol>img {
    height: 100%;
    width: 80%;
    object-fit: cover;
    border-radius: 15px;
}

/* expalane */
#root>div.aboutContainer.container>div>div.explaneCol.col-5>h2>span>h2 {
    color: rgba(255, 136, 0, 0.993);
}

.explaneCol>ol>li {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
}

/* responsive */
@media(max-width:1450px) {
    .srviceContant {
        display: grid;
        justify-content: space-evenly;
    }

    .middleRow {
        margin: 50px 0px;
    }

    .leftRow,
    .rightRow {
        display: grid;
        width: 900px;
    }
}

@media(max-width:940px) {
    .srviceContant {
        display: grid;
        justify-content: space-evenly;
    }

    .middleRow {
        margin: 50px 0px;
    }

    .leftRow,
    .rightRow {
        display: grid;
        width: 400px;
    }
}