* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* //////////////////// Service Container */
.serviveContainer {
  background-color: #f9f9fa;
  padding: 150px 0px;
  text-align: center;
}

.pTag {
  display: block;
  text-align: center;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-decoration-color: rgba(255, 136, 0, 0.532);
  margin-bottom: 50px;
}

.serviveContainer > p {
  margin-bottom: 100px;
  font-size: 23px;
  font-weight: 600;
  direction: rtl;
  color: #393939;
  padding: 0px 10px;
}

/*  span */
#root > div.serviveContainer.container-fluid > p > span {
  font-size: 25px;
  color: rgb(255, 136, 0);
}

.srviceContant {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* left & right */
.leftRow,
.rightRow {
  display: grid;
  justify-content: end;
  min-width: 350px;
  width: 530px;
  padding: 0px;
  padding-right: 20px;
}

.rightRow {
  direction: rtl;
  padding-left: 20px;
}

.leftCol,
.rightCol {
  padding: 10px 20px;
  background-color: white;
  border: 2px solid #b5b5b5;
  border-radius: 20px;
  height: 100px;
  width: 400px;
  display: grid;
  align-items: center;
  margin: 15px 0px;
  box-shadow: rgba(50, 50, 93, 0.071) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.leftImageCol,
.rightImageCol {
  display: flex;
  justify-content: start;
}

.leftImageCol > img {
  width: 70px;
  height: 70px;
}

.rightImageCol > img {
  width: 70px;
  height: 70px;
}

.leftTitle,
.rightTitle {
  direction: rtl;
  display: grid;
  padding-right: 20px;
  font-size: 10px;
}

.leftTitle > a > h2 {
  font-size: 25px;
  font-weight: 600;
  color: #393939e6;
}

.rightTitle > a > h2 {
  font-size: 25px;
  font-weight: 600;
  color: #393939e6;
}

.rightTitle {
  text-align: end;
}

.leftTitle {
  text-align: start;
}

a {
  text-decoration: none;
  color: black;
}

a :hover {
  text-decoration: none;
  color: rgb(58, 58, 58);
}

.leftTitle > p {
  font-size: 15px;
  color: rgb(116, 116, 116);
  font-weight: 500;
}

.rightTitle > p {
  font-size: 15px;
  color: rgb(116, 116, 116);
  font-weight: 500;
}

.middleRow {
  display: grid;
  align-items: center;
}

/* /////////////////// aboutContainer */

.fadeIn{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.show{
  opacity: 1;
  transform: translateY(0);
}

.aboutContainer {
  padding: 200px;
  min-width: 355px;
  justify-content: center;
  box-shadow: rgb(255, 98, 0) 0px 4px 12px;
  background-image: url("../../public//Image//orangeeffect(6\).jpg");
  background-position: center;
  background-size: cover;
}

.aboutRow {
  display: flex;
  direction: rtl;
  max-width: 100%;
  min-height: 400px;
}

/* history */
.historyRow {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.histoyCol {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #7a7a7a;
  width: 250px;
}

/* lasthistory col */

#root
  > div.aboutContainer.container
  > div
  > div.history.col-3
  > div
  > div:nth-child(3) {
  border-bottom: 2px dashed #7a7a7a00;
}

.histoyCol > h6 {
  font-size: 23px;
  color: rgba(39, 39, 39, 0.945);
}

/* image */
.imgCol {
  text-align: center;
}

.imgCol > img {
  height: 100%;
  width: 80%;
  object-fit: cover;
  border-radius: 15px;
}

/* expalane */
#root
  > div.aboutContainer.container
  > div
  > div.explaneCol.col-5
  > h2
  > span
  > h2 {
  color: rgba(255, 136, 0, 0.993);
}

.explaneCol > h6 {
  text-align: start;
  line-height: 35px;
}

.explaneCol > ol > li {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}

.tickIcon {
  width: 25px;
  height: 25px;
  color: orange;
}

/* //////////////// Contact Form */

.cubeContainer2,
.cubeContainer3,
.cubeContainer1,
.cubeContainer4,
.cubeContainer5 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 136, 0, 0.927);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.cubeContainer1 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 80%;
}

.cubeContainer2 {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 60%;
  left: 60%;
}

.cubeContainer3 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 22%;
  left: 8%;
}

.cubeContainer4 {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 35%;
  left: 40%;
}

.cubeContainer5 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10%;
  left: 60%;
}

.contactFormContainer {
  padding: 250px 0px;
  background-size: cover;
  background-image: linear-gradient(white, rgba(255, 136, 0, 0.993));
  position: relative;
}

.contactForm {
  direction: rtl;
  border: 2px solid #ececec;
  background-color: #39393900;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  min-height: 400px;
  min-width: 355px;
}

.contactRow {
  height: 100%;
  display: flex;
}
.colContactAvatarImage {
  text-align: center;
  display: grid;
  align-items: center;
}
.contactAvatarImage {
  width: 450px;
  margin: 0px auto;
}
.fromP {
  padding: 20px;
  padding-top: 100px;
  min-width: 355px;
}

#contactBotton1 {
  font-weight: 500;
  margin-right: 0px;
}
#contactBotton1>a{
  font-weight: 500;
  font-size: 15px;
  color: white;
}

#contactBotton2 {
  color: #ffffff;
  font-weight: 500;
  border-color: white;
}

#contactBotton2>a{
  font-weight: 500;
  color: white;
  font-size: 15px;
}
.secondImage{
  display: none;
}

/* responsive */
@media (max-width: 1450px) {
  .srviceContant {
    display: grid;
    justify-content: space-evenly;
  }
  .firstImage{
    display: none;
  }
  .secondImage{
    display: inline-block;
    width: 300px;
    margin: 0px auto;
  }
  .middleRow {
    margin: 50px 0px;
  }

  .leftRow,
  .rightRow {
    display: grid;
    width: 900px;
    justify-content: center;
  }
}
@media (max-width: 1240px) {
  .aboutContainer {
    width: 100%;
    margin: 0px auto;
  }

  .aboutRow {
    display: grid;
    text-align: center;
    max-width: 100%;
    min-height: 400px;
  }

  .historyRow {
    width: 100%;
    margin: 0px;
  }

  .history,
  .imgCol {
    width: 100%;
    justify-content: center;
  }

  .imgCol > img {
    height: 400px;
    max-width: 100%;
    min-width: 355px;
  }

  .explaneCol {
    width: 100%;
    margin-top: 50px;
    padding-right: 60px;
    text-align: right;
  }

  .explaneCol > ol > li {
    font-size: 20px;
  }
}
@media (max-width: 1048px) {
  .cubeContainer1 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 65%;
  }

  .cubeContainer2 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .cubeContainer3 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 22%;
    left: 8%;
  }

  .cubeContainer4 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 35%;
    left: 30%;
  }

  .cubeContainer5 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 40%;
  }
}
@media (max-width: 992px) {
  .fromP > h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .fromP > p {
    font-size: 15px;
  }
  #contactBotton1,
  #contactBotton2 {
    font-size: 10px;
    min-width: 100px;
    height: 40px;
  }
}
@media (max-width: 940px) {
  .srviceContant {
    display: grid;
    justify-content: space-evenly;
  }

  .middleRow {
    margin: 50px 0px;
  }

  .leftRow,
  .rightRow {
    display: grid;
    width: 355px;
  }
}
@media (max-width: 768px) {
  .aboutContainer {
    padding: 0px;
  }
  .fromP {
    width: 100%;
  }
  .contactRow {
    display: grid;
  }
  .colContactAvatarImage{
    width: 100%;
  }
}
@media (max-width: 584px) {
  .cubeContainer1 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 50%;
  }

  .cubeContainer2 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70%;
    left: 50%;
  }

  .cubeContainer3 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 22%;
    left: 8%;
  }

  .cubeContainer4 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 60%;
    left: 10%;
  }

  .cubeContainer5 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 40%;
  }
}
@media (max-width: 536px) {
  .aboutContainer {
    width: 100%;
    margin: 0px 0px;
  }

  .aboutRow {
    display: grid;
    text-align: center;
    max-width: 355px;
    min-height: 400px;
    margin: 0px auto;
  }

  .historyRow {
    width: 355px;
    margin: 0px;
  }

  .history,
  .imgCol {
    width: 355px;
    justify-content: center;
    padding: 0px;
  }

  .imgCol > img {
    height: 400px;
    max-width: 355px;
    min-width: 355px;
  }

  .explaneCol {
    width: 355px;
    margin-top: 50px;
    padding-right: 0px;
    text-align: right;
  }

  .explaneCol > ol > li {
    font-size: 20px;
  }

  .cubeContainer1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
  }

  .cubeContainer2 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70%;
    left: 50%;
  }

  .cubeContainer3 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 22%;
    left: 8%;
  }

  .cubeContainer4 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 60%;
    left: 10%;
  }

  .cubeContainer5 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 40%;
  }

  .leftCol,
  .rightCol {
    width: 100%;
  }
  .rightTitle > a > h2,
  .leftTitle > a > h2 {
    font-size: 20px;
  }
  .rightTitle > p,
  .leftTitle > p {
    font-size: 15px;
  }
}
