*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.serviveContainer{
    background-color: #f9f9fa;
    padding: 150px 0px;
    text-align: center;
}
.pTag{
    display: block;
    text-align: center;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: underline ;
    text-decoration-color: rgba(255, 136, 0, 0.532) ;
    margin-bottom: 50px;
}
.serviveContainer>p{
    margin-bottom: 100px;
    font-size: 23px ;
    font-weight: 600;
    direction: rtl;
    color: #393939;
}
/*  ////////  span */
#root > div.serviveContainer.container-fluid > p > span{
    font-size: 25px;
    color: rgb(255, 136, 0) ;
}
.srviceContant{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* ///////////   left & right */
.leftRow , .rightRow{
    display: grid;
    min-width: 350px;
    width: 530px;
    padding: 0px;
}
.rightRow{
    direction: rtl;
}
.leftCol , .rightCol{
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #b5b5b5;
    border-radius: 20px;
    height: 150px;
    display: grid;
    align-items: center;
    margin: 15px 0px;
}
.leftImageCol , .rightImageCol{
    display: flex;
    justify-content: start;
}
.leftImageCol>img{
    width: 100px;
    height: 100px;
}
.leftTitle , .rightTitle{
    direction: rtl;
    display: grid;
    padding-right: 20px;
}
.rightTitle{
    text-align: end;
}
.leftTitle{
    text-align: start;
}
.leftTitle >p{
    font-size: 20px;
    color: rgb(116, 116, 116);
    font-weight: 500;
}
.middleRow{
    display: grid;
    align-items: center;
}
/* responsive */
@media(max-width:1450px){
    .srviceContant{
        display: grid;
        justify-content: space-evenly;
    }
    .middleRow{
        margin: 50px 0px;
    }
    .leftRow , .rightRow{
        display: grid;
        width: 900px;
    }
}
@media(max-width:940px){
    .srviceContant{
        display: grid;
        justify-content: space-evenly;
    }
    .middleRow{
        margin: 50px 0px;
    }
    .leftRow , .rightRow{
        display: grid;
        width: 400px;
    }
}