.networkTitle {
  font-size: 100px;
  color: white;
  font-weight: 700;
}

.NetworkSecuritySpecialist {
  border: 2px solid #dfdfdf;
  max-height: 200px;
  max-width: 700px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px ;
}
.personalImage {
  object-fit: cover;
  height: 150px;
  border-radius: 15px;
}
.personalUL{
list-style: none;
}

.networkSecurityParagraphContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1100px;
  padding-top: 250px;
}
.NetworkSecurityRow {
  justify-content: space-between;
  display: flex;
  width: 70%;
  margin: 0px auto;
}
.networkSecurityparagraph {
  direction: rtl;
  height: 500px;
  padding-right: 50px;
}
.networkSecurityparagraph > h1 {
  margin: 0px -20px 50px 0px;
  font-size: 40px;
}

.networkSecurityparagraph > ol > li {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.676);
  margin-right: 20px;
}
.networkSecuritySpecialist {
  position: absolute;
  width: 100%;
  max-height: 400px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 20px 0px 0px 0px;
  transform: translateX(-50%);
}
.networkSecuritySpecialistRow {
  margin: 0px auto;
}
.securityImageRow {
  position: relative;
  min-height: 400px;
}
.networkSecurityImage {
  width: 450px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0) 0px 4px 12px;
}
.networkSecurityAccordingContainer {
  padding: 200px 0px 150px 0px;
  background-image: url("/public//image/background\ \(4\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.explaneSecuritynetwork {
  background-blend-mode: color-dodge;
  background-color: #003cb426;
  background-image: url("/public/image/services/networkSecurityMianImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: right;
  display: grid;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 100px 0px 50px 0px;
}
.imageNetworkConsulting {
  width: 80%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0) 0px 4px 12px;
}
.whatSecurityNetwork {
  width: 80%;
  min-height: 450px;
  padding: 40px;
  color: rgb(238, 238, 238);
  background-color: #27334d26;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  border: 2px solid #717171;
  /* /xd/dcf/dsf/sd/fds/f */
  margin: -50px auto 0px;
  text-align: end;
}
.whatSecurityNetwork > h6 {
  max-width: 100%;
  padding: 20px;
  font-size: 25px;
  line-height: 40px;
  direction: rtl;
  text-align: start;
}
.whatSecurityNetwork > h1 {
  max-width: 100%;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 45px;
}
.rowExplanenetworkColsulting {
  background-color: rgba(255, 255, 255, 0.299);
  width: 100%;
  display: flex;
  justify-content: center;
}
.securityDetailsContainer {
  direction: rtl;
  padding: 150px 0px;
  background-image: url("/public/image/background\ \(4\).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.securityDetailsContainer > h2 {
  text-align: center;
  margin-bottom: 100px;
}
.securityDerailsRow {
  max-width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
}
/* Col */
#root > div.securityDetailsContainer.container-fluid > div > div {
  width: 45%;
  padding: 5px 15px;
  margin: 15px 0px;
  min-height: 60px;
  border-radius: 15px;
  border: 1px solid #ff8000;
  border-right: 4px solid #ff8000;
  display: grid;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.618);
}

@media (max-width: 1400px) {
  .NetworkSecurityRow {
    width: 90%;
  }
  .whatSecurityNetwork {
    margin-top: 70px;
  }
  .networkSecurityparagraph > h1 {
    font-size: 35px;
  }
  .networkSecurityparagraph > ol > li {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .networkSecurityparagraph {
    margin-top: 50px;
  }
  .whatSecurityNetwork {
    margin-top: 70px;
  }
  .whatSecurityNetwork > h1 {
    font-size: 30px;
  }
  .whatSecurityNetwork > h6 {
    font-size: 20px;
  }
  .networkSecurityImage {
    width: 100%;
  }
}
@media (max-width: 828px) {
  .whatSecurityNetwork {
    padding: 10px;
  }
  .whatSecurityNetwork > h1 {
    font-size: 35px;
  }
  .whatSecurityNetwork > h6 {
    font-size: 20px;
  }
}
@media (max-width: 770px) {
  .securityDerailsRow {
    width: 100%;
    margin: 0px auto;
    display: grid;
  }
  #root > div.securityDetailsContainer.container-fluid > div > div {
    width: 100%;
    margin: 15px 0px;
    padding: 5px 15px;
    min-height: auto;
    display: grid;
    align-items: center;
  }
}
@media (max-width: 550px) {
  .whatSecurityNetwork {
    padding: 10px;
  }
  .whatSecurityNetwork > h1 {
    font-size: 25px;
  }
  .whatSecurityNetwork > h6 {
    font-size: 15px;
  }
  .networkSecurityParagraphContainer {
    margin-bottom: 100px;
  }
}
