.networkTitle{
    font-size: 100px;
    color: white;
    font-weight: 700;
}
.pasiveNetworkParagraphContainer{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    padding-top: 250px;
}
.pasiveNetworkRow{
    justify-content: space-between;
    display: flex;
    width: 70%;
    margin: 0px auto;
}
.pasiveNetworkparagraph{
    direction: rtl;
    height: 500px;
    padding-right: 50px;
}
.pasiveNetworkparagraph >h1{
    margin: 0px -20px 50px 0px;
    font-size: 40px;
}

.pasiveNetworkparagraph >ol >li{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.676);
    margin-right: 20px;
}
.pasiveNetworkImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 0px 4px 12px;
}
.pasiveNetworkAccordingContainer{
    padding: 200px 0px 150px 0px;
    background-image: url('/public//image/background\ \(4\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.explanePasivenetwork{
    background-blend-mode: color-dodge;
    background-color: #003cb426;
    background-image: url('/public/image/wave.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    display: grid;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 50px 0px;
}
.imageNetworkConsulting{
    width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 0px 4px 12px;
}
.whatspasiveNetwork{
    width: 80%;
    min-height: 450px;
    padding: 40px;
    color: rgb(0, 0, 0);
    background-color: #27334d26;
    backdrop-filter: blur(5px);
    border-radius: 15px ;
    border: 2px solid #717171;
    margin: 70px auto 0px;
    text-align: end;
}
.whatspasiveNetwork >h6{
    max-width: 100%;
    padding: 20px;
    font-size: 25px;
}
.whatspasiveNetwork >h1{
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 45px;
}
.rowExplanenetworkColsulting{
    background-color: rgba(255, 255, 255, 0.299);
    width: 100%;
    display: flex;
    justify-content: center;
}
.pasiveDetailsContainer{
    direction: rtl;
    padding: 150px 0px;
    background-image: url('/public/image/background\ \(4\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pasiveDetailsContainer>h2{
    text-align: center;
    margin-bottom: 100px;
}
.pasiveDerailsRow{
    max-width:80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
}
/* Col */
#root > div.pasiveDetailsContainer.container-fluid > div > div{
    width: 45%;
    padding: 5px 15px ;
    margin: 15px 0px ;
    min-height: 60px;
    border-radius: 15px;
    border: 1px solid #ff8000;
    border-right: 4px solid #ff8000;
    display: grid;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.618);
}

@media(max-width:1400px){
    .pasiveNetworkRow{
        width: 90%;
    }
    .pasiveNetworkparagraph>h1{
        font-size: 35px;
    }
    .pasiveNetworkparagraph>ol>li{
        font-size: 15px;
    }
}
@media(max-width:990px){

    .pasiveNetworkparagraph{
        margin-top: 50px;
    }
    .whatspasiveNetwork>h1{
        font-size: 30px;
    }
    .whatspasiveNetwork>h6{
        font-size: 20px;
    }
}
@media(max-width:828px){
    .whatspasiveNetwork{
        padding: 10px;
    }
    .whatspasiveNetwork>h1{
        font-size: 35px;
    }
    .whatspasiveNetwork>h6{
        font-size: 20px;
    }
}
@media(max-width:770px){
    .pasiveDerailsRow{
        width:100%;
        margin: 0px auto;
        display: grid;
    }
    #root > div.pasiveDetailsContainer.container-fluid > div > div{
        width: 100%;
        margin:15px 0px ;
        padding: 5px 15px ;
        min-height: auto;
        display: grid;
        align-items: center;
    }
}
@media(max-width:550px){
    .whatspasiveNetwork{
        padding: 10px;
    }
    .whatspasiveNetwork>h1{
        font-size: 25px;
    }
    .whatspasiveNetwork>h6{
        font-size: 15px;
    }
}