* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainContainer {
    padding: 0;
    position: relative;
    height: 80vh;
    display: grid;
    align-items: center;
    background-image: url(../../public/image/intro-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    direction: rtl;
    border-radius: 10% 30%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.mainText {
    padding-right: 150px;
    padding-top: 50px;
}

.mainText>h1 {
    font-size: 40px;
    color: rgb(255, 159, 49);
}

.mainText>h2 {
    font-size: 35px;
    line-height: 50px;
    margin-right: 20px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.mainText>h3 {
    direction: rtl;
    font-size: 20px;
    line-height: 50px;
    margin-right: 20px;
    color: rgb(230, 230, 230);
    text-align: start;
    max-width: 700px;
}

/* span */
#root>div.mainContainer.container-fluid>div>h1>span {
    color: rgb(255, 159, 49);
    font-size: 45px;
}

.botton1,
.botton2 {
    margin: 10px;
    float: right;
    background-color:
        rgba(255, 136, 0, 0.954);
    border-radius: 10px;
    padding: 7px 12px;
    border-color: rgb(255, 136, 0);
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.5s;
    border: 2px solid #00000000;
}

.botton1 {
    margin-right: 50px;
}

.botton2 {
    background-color: #00000000;
    border: 2px solid;
}

.button1:hover {
    background-color: rgb(255, 136, 0);
    border: 2px solid rgb(255, 136, 0);
}

.button2:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid;
}


/* responsive */
@media (max-width:1496px) {
    .mainText {
        margin-top: 120px;
        padding-right: 50px;
        padding-top: 0px;
        top: 30%;
        left: 50%;
        min-width: auto;
        text-align: start;
    }

    .mainText>h1 {
        font-size: 30px;
        color: rgb(255, 159, 49);
        text-align: start;
    }

    #root>div.mainContainer.container-fluid>div>h1>span {
        color: rgb(255, 136, 0);
        font-size: 30px;
    }

    .mainText>h2 {
        font-size: 25px;
        line-height: 30px;
        margin-right: 0px;
        margin-top: 20px;
        color: rgb(255, 255, 255);
    }

    .mainText>h3 {
        direction: rtl;
        font-size: 20px;
        line-height: 50px;
        margin-right: 20px;
        color: rgb(230, 230, 230);
        text-align: start;
        max-width: 700px;
    }

    .button {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .mainContainer {
        min-height: 85vh;
        max-height: fit-content;
    }

    .mainText {
        margin-top: 120px;
        min-width: auto;
        text-align: end;
        padding: 0px;
    }

    .mainText>h1 {
        font-size: 20px;
        color: rgb(255, 159, 49);
        text-align: start;
        margin-right: 20px;
    }

    #root>div.mainContainer.container-fluid>div>h1>span {
        color: rgb(255, 136, 0);
        font-size: 20px;
    }

    .mainText>h2 {
        font-size: 25px;
        line-height: 30px;
        margin-right: 20px;
        margin-top: 20px;
        color: rgb(255, 255, 255);
        text-align: start;
        margin-right: 20px;
    }

    .mainText>h3 {
        direction: rtl;
        font-size: 20px;
        line-height: 50px;
        margin-right: 20px;
        color: rgb(230, 230, 230);
        text-align: start;
        max-width: 700px;
    }
}

@media(max-width:576px) {
    .mainContainer {
        background-color: rgba(0, 0, 0, 0.219);
        background-blend-mode: darken;
    }

    .mainText {
        text-align: start;
        min-width: 100%;
        max-width: 355px;
    }

    .mainText>h1 {
        font-size: 20px;
        color: rgb(255, 159, 49);
        text-align: start;
        width: 100%;
        float: right;
    }

    #root>div.mainContainer.container-fluid>div>h1>span {
        color: rgb(255, 136, 0);
        font-size: 30px;
        margin-bottom: 10px;
    }

    .mainText>h2 {
        font-size: 20px;
        line-height: 30px;
        margin-right: 20px;
        margin-top: 20px;
        color: rgb(255, 255, 255);
        text-align: start;
        margin-right: 20px;
    }

    .mainText>h3 {
        direction: rtl;
        font-size: 15px;
        line-height: 50px;
        margin-right: 20px;
        color: rgb(230, 230, 230);
        text-align: start;
        max-width: 700px;
    }

    .button {
        padding: 8px 20px 10px 20px;
        font-size: 15px;
    }
}

@media(max-width:370px) {
    .mainContainer {
        height: 90vh;
    }
}