.activeContainer{
    min-height: 75vh;
    background-image: url('../../public/image/wave.jpg');
    background-color: rgba(0, 0, 0, 0.454);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    text-align: center;
}
.activeTitle{
    font-size: 70px;
    color: white;
}
.olActive{
    margin: 250px auto;
    padding: 0px;
}
.liActive,#root > div.olActive.container > div > div:nth-child(2) {
    min-width: 350px;
}
/* imageCol */
#root > div.olActive.container > div > div:nth-child(2) {
    text-align: center;
}
.activeImage{
    max-width: 100%;
    min-width: 350px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 0px 4px 12px;
}
.explaneNetworkContainer{
    background-color: rgb(242, 242, 242);
    background-size: cover;
    background-blend-mode: darken;
}
.expalneNetwork{
    direction: rtl;
    padding: 200px 0px;
}
.expalneNetwork>h1{
    font-size: 60px;
    margin: 50px 0px;
}
.expalneNetwork>h6{
    font-size: 25px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.76);
}
.liActive{
    direction: rtl;
    padding-right: 30px;
    padding-bottom: 20px;
}
.liActive>h1{
    margin: 20px 0px 20px 0px;
}
.liActive>ol{
    padding-right: 30px;
}
.liActive>ol>li{
    margin: 20px 0px ;
}
.liActive>ol>li>h6{
    color: rgba(0, 0, 0, 0.742);
}
/* responsive */
@media(max-width:1210px){

    .activeImage{
        max-width: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: rgb(0, 0, 0) 0px 4px 12px;
    }
    #root > div.olActive.container > div{
        display: grid;
        justify-content: center;
    }
    #root > div.olActive.container > div > div.col-lg-6.order-lg-last.order-first.col ,#root > div.olActive.container > div > div.liActive.col-lg-6.order-lg-first.order-last.col{
        width: 100%;
    }
    .activeTitle{
        font-size: 35px;
    }
}
@media(max-width:576px){
    .activeImage{
        max-width: 320px;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: rgb(0, 0, 0) 0px 4px 12px;
    }
    .liActive{
        max-width: 100%;
        text-align: right;
    }
    #root > div.olActive.container > div {
        text-align: center;
        max-width: 100%;
        margin: 0px auto;
    }
    #root > div.olActive.container > div > div:nth-child(2) {
        padding: 0px;
    }
    .expalneNetwork>h1{
        font-size: 40px;
    }
    .expalneNetwork>h6{
        font-size: 20px ;
    }
}