.networkTitle {
  font-size: 100px;
  color: white;
  font-weight: 700;
}
.ActiveNetworkParagraphContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  padding-top: 250px;
}
.activeNetworkRow {
  justify-content: space-between;
  display: flex;
  width: 70%;
  margin: 0px auto;
}
.activeNetworkparagraph {
  direction: rtl;
  height: 500px;
  padding-right: 50px;
}
.activeNetworkparagraph > h1 {
  margin: 0px -20px 50px 0px;
  font-size: 40px;
}

.activeNetworkparagraph > ol > li {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.676);
  margin-right: 20px;
}
.activeNetworkSpecialist {
  position: absolute;
  width: 100%;
  max-height: 400px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 20px 0px 0px 0px;
  transform: translateX(-50%);
}
.activeNetworkSpecialistRow {
  margin: 0px auto;
}
.activeImageRow {
  position: relative;
  min-height: 400px;
}
.ActiveNetworkImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0) 0px 4px 12px;
}
.activeNetworkAccordingContainer {
  padding: 200px 0px 150px 0px;
  background-image: url("../../public/Image/background4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.explaneActivenetwork {
  background-blend-mode: color-dodge;
  background-color: #0055ff12;
  background-image: url("../../public/Image/activenetworkMainImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: right;
  display: grid;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 100px 0px 50px 0px;
}
.imageNetworkConsulting {
  width: 80%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0) 0px 4px 12px;
}
.whatsActiveNetwork {
  width: 80%;
  min-height: 450px;
  padding: 40px;
  color: rgb(0, 0, 0);
  background-color: #27334d26;
  backdrop-filter: blur(3px);
  border-radius: 15px;
  border: 2px solid #717171;
  margin: 70px auto 0px;
  text-align: end;
}
.whatsActiveNetwork > h6 {
  color: white;
  max-width: 100%;
  padding: 20px;
  font-size: 25px;
  line-height: 40px;
  direction: rtl;
  text-align: start;
}
.whatsActiveNetwork > h1 {
  color: white;
  font-weight: 600;
  max-width: 100%;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 45px;
}
.rowExplanenetworkColsulting {
  background-color: rgba(255, 255, 255, 0.299);
  width: 100%;
  display: flex;
  justify-content: center;
}
.activeDetailsContainer {
  direction: rtl;
  padding: 150px 0px;
  background-image: url("../../public/Image/background4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.activeDetailsContainer > h2 {
  text-align: center;
  margin-bottom: 100px;
}
.activeDerailsRow {
  max-width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
}
/* Col */
#root > div.activeDetailsContainer.container-fluid > div > div {
  width: 45%;
  padding: 5px 15px;
  margin: 15px 0px;
  min-height: 60px;
  border-radius: 15px;
  border: 1px solid #ff8000;
  border-right: 4px solid #ff8000;
  display: grid;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.618);
}

@media (max-width: 1400px) {
  .activeNetworkRow {
    width: 90%;
  }
  .activeNetworkparagraph > h1 {
    font-size: 35px;
  }
  .activeNetworkparagraph > ol > li {
    font-size: 15px;
  }
}
@media (max-width: 990px) {
  .activeNetworkparagraph {
    margin-top: 50px;
  }
  .whatsActiveNetwork > h1 {
    font-size: 30px;
  }
  .whatsActiveNetwork > h6 {
    font-size: 20px;
  }
}
@media (max-width: 828px) {
  .whatsActiveNetwork {
    padding: 10px;
  }
  .whatsActiveNetwork > h1 {
    font-size: 35px;
  }
  .whatsActiveNetwork > h6 {
    font-size: 20px;
  }
}
@media (max-width: 770px) {
  .activeDerailsRow {
    width: 100%;
    margin: 0px auto;
    display: grid;
  }
  #root > div.activeDetailsContainer.container-fluid > div > div {
    width: 100%;
    margin: 15px 0px;
    padding: 5px 15px;
    min-height: auto;
    display: grid;
    align-items: center;
  }
}
@media (max-width: 550px) {
  .whatsActiveNetwork {
    padding: 10px;
  }
  .whatsActiveNetwork > h1 {
    font-size: 25px;
  }
  .whatsActiveNetwork > h6 {
    font-size: 15px;
  }
}
@media(max-width:435px){
  .worknetLogo{
    width: 100px;
  }
}
