.sliderUL {
  padding: 0;
  list-style: none;
  display: flex;
  width: max-content;
  animation: runSlider 40s linear infinite alternate;
}
.sliderULRevers{
    padding: 0;
  list-style: none;
  display: flex;
  width: max-content;
  animation: runSliderRevrse 40s linear infinite alternate;
}
.slider img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 0 8px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.slider li {
  width: 120px;
  letter-spacing: 1px;
  font-family: monospace;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 40px 20px;
  margin-right: 5px;
  
}
.sliderontainer{
    padding: 250px 0px;
    background-image: url(../../public/image/background\ \(3\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider {
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: #c577531c;
    border-top: 2px solid #c57753;
    border-bottom: 2px solid #c57753;
    display: grid;
    text-align: center;
    align-items: center;
}
.partnerTitle{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

/* responsive */
@media (max-width:1546px){
    .partnerTitle{
        font-size: 40px;
    }
}
@media (max-width:1116px){
    .partnerTitle{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .slider img{
        width: 60px;
        height: 60px;
    }
    .slider li {
        padding: 20px 0px;
        width: 100px;
    }
}
@media (max-width:683px){
    .partnerTitle{
        font-size: 30px;
        margin-bottom: 100px;
    }
    .slider img{
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
    .slider li {
        padding: 20px 0px;
        width: 80px;
    }
}
/* animation */
@keyframes runSlider {
  from {
    transform: translateX(calc(-470px * 7));
  }
  to {
    transform: translateX(20px);
  }
}
@keyframes runSliderRevrse {
    from {
    transform: translateX(20px);
    }
    to {
    transform: translateX(calc(-470px * 7));
    }
  }
  
