
#root>div.carousel.slide>div.carousel-indicators {
    margin: 0;
}

.Carousel {
    margin-top: 50px;
    max-width: 100%;
    min-height: 400px;
    border-radius: 15px;
    margin: 10px 100px;
    margin-top: 90px;
    margin-bottom: 250px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 4px 12px;
}


/* background image */
#root>div.Carousel.carousel.slide>div.carousel-inner>div>img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
/* prev buttom */
#root>div.Carousel.carousel.slide>a.carousel-control-prev {
    justify-content: space-between;
}
/* next buttom */
#root>div.Carousel.carousel.slide>a.carousel-control-next {
    justify-content: end;
}

#root>h2 {
    margin-top: 150px;
}

#root>h4 {
    margin-top: 20px;
}

#root>h2,
h4 {
    display: block;
    text-align: center;
    min-width: 355px;
}

.Text {
    font-size: 25px;
}

.orangText {
    color: rgb(255, 136, 0);
    font-size: 30px;
    font-weight: 700;
}

.carousel-p {
    font-size: 30px;
    display: inline-block;
    max-width: 740px;
    min-width: 358px;
    max-height: 45px;
    overflow: hidden;
    transition: all 3s;
}

.slideImage {
    filter: blur(0px);
    transition: all .5s;
}
.slidelItem>h3{
    color: black;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.057);
    border-radius:0px 0px 15px 15px ;
}
.slidelItem {
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 65%;
    left: 14%;
    transition: all .5s;
}
.slidelItem >p {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

/* animation */
#root>div.Carousel.carousel.slide>div.carousel-inner:hover .slidelItem {
    top: 20%;
    left: 14%;
}

#root>div.Carousel.carousel.slide>div.carousel-inner:hover .carousel-p {
    overflow: visible;
}

#root>div.Carousel.carousel.slide>div.carousel-inner:hover .slideImage {
    filter: blur(7px);
}


/* responsive */
@media (max-width:800px) {
    .Carousel {
        margin: 10px 10px;
        margin-top: 90px;
    }

}
@media (max-width:500px){
    .carousel-p {
        max-width: 740px;
        min-width: 250px;
        max-height: 85px;
    }
    .slidelItem {
        top: 60%;
        left: 14%;
    }
}